global
    log /dev/log local0
    log /dev/log local1 notice
    maxconn 4096
    daemon
    crt-base /etc/xray/certs
    ssl-default-bind-ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:RSA+AESGCM:RSA+AES:!aNULL:!MD5:!DSS
    ssl-default-bind-options no-sslv3 no-tlsv10 no-tlsv11

defaults
    log global
    mode http
    option httplog
    option dontlognull
    option http-server-close
    option forwardfor
    timeout connect 5s
    timeout client 120s
    timeout server 120s
    timeout http-request 15s
    timeout tunnel 2h

frontend http-in
    bind *:80
    bind *:443 ssl crt /etc/xray/certs/xray.pem alpn h2,http/1.1
    acl is_vmess path_beg /vmess
    acl is_vless path_beg /vless
    acl is_trojan path_beg /trojan
    acl is_ss path_beg /ssws
    use_backend vmess-ws if is_vmess
    use_backend vless-ws if is_vless
    use_backend trojan-ws if is_trojan
    use_backend ss-ws if is_ss
    default_backend ssh-ws

backend ssh-ws
    server ssh-ws 127.0.0.1:8080

backend vmess-ws
    server xray 127.0.0.1:10001

backend vless-ws
    server xray 127.0.0.1:10002

backend trojan-ws
    server xray 127.0.0.1:10003

backend ss-ws
    server xray 127.0.0.1:10004
