global
    log /dev/log local0
    maxconn 4096
    daemon
defaults
    log global
    mode http
    timeout connect 5s
    timeout client 30s
    timeout server 30s
frontend http-in
    bind *:80
    bind *:443 ssl crt /etc/xray/certs/xray.pem alpn h2,http/1.1
    acl is_vmess path_beg /vmess
    acl is_vless path_beg /vless
    acl is_trojan path_beg /trojan
    acl is_ssws path_beg /ssws
    use_backend vmess-ws if is_vmess
    use_backend vless-ws if is_vless
    use_backend trojan-ws if is_trojan
    use_backend ssws-ws if is_ssws
backend vmess-ws
    server xray-vmess 127.0.0.1:10001
backend vless-ws
    server xray-vless 127.0.0.1:10002
backend trojan-ws
    server xray-trojan 127.0.0.1:10003
backend ssws-ws
    server xray-ss 127.0.0.1:10004
backend web-fallback
    server fallback 127.0.0.1:8080
