[Unit]
Description=Golbert WS Python Proxy V4.3.2
After=network.target haproxy.service
Wants=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/python3 /usr/local/bin/ws-proxy.py
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
